<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie-edge"/>
        <title>Website Customers</title>
    </head>
    <body>
        <h1>Customer Options:</h1>
        <ul>
            <li>Display Chosen Customer</li>
            <li>Display All Customers</li>
            <li>Add New Customer</li>
            <li>Update Chosen Customer</li>
            <li>Delete Chosen Customer</li>
        </ul>
    </body>
</html>